<h1 class = heading>{{title}}</h1>

<div class="intro">
<p class = title>Hows that for a suggestion?</p>


<p> powered by Food2Fork</p>

</div>



<h3>{{recipe.name}}</h3>
<a href={{recipe.url}}<a>
<img src={{recipe.img}} alt = "yummy">
<p class ="recipe"> {{recipe.description}}</p>
