<h1 class = heading>{{name}}</h1>

<div class="intro">
<p class = title>Hows that for a suggestion?</p>
</div>


<h3>{{title}}</h3>
<p>{{publisher}}</p>
<a href="{{source_url}}">
<img src="{{image_url}}" alt = "yummy"></a>

<p> powered by Food2Fork</p>
